.ban-image{
        border: 4px solid white;
    box-shadow: 1px 1px 1px 1px #666 !important;
}

  .modal{
        z-index: 9999 !important;
    }
    .modal-backdrop, .modal-backdrop.fade.in {
        z-index: 9998 !important;
    }
      .fileinput{
            height: 100% !important;
            width: 100% !important;
        }
        .fileinput  img {
             height: 100% !important;
            width: 100% !important;
        }
        .fileinput-preview .thumbnail >img{
            height:100% !important;
            max-height:100% !important;
        }
       

        .banner-desc{
                position: absolute;
                margin-left: 35%;
                top: 10px;
        }



      
        .banner-desc h3 span {
             display: block;
        }

        .banner-desc h3 span strong {
             text-transform: uppercase;

        }






 .banner-desc h3 {    
            font-size: 65px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }


@media only screen and (max-width:980px) {
     .banner-desc h3 {    
            font-size: 45px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }
}
@media only screen and (max-width:800px) {
     .banner-desc h3 {    
            font-size: 35px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }
}

@media only screen and (max-width:768px) {
     .banner-desc h3 {    
            font-size: 30px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }
}
@media only screen and (max-width:640px) {
     .banner-desc h3 {    
            font-size: 25px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }
}
@media only screen and (max-width:480px) {
     .banner-desc h3 {    
            font-size: 20px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }
}
@media only screen and (max-width:360px) {
     .banner-desc h3 {    
            font-size: 15px;
            padding: 15px;
            letter-spacing: -1px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            color: #fff;
        }
}

