.hideField{
	display: none;
}
.dd-content {
	border: 1px solid #e9edef;
	background: #e9edef;
	margin-bottom: 8px;
	height: 40px;
	padding-left: 45px;
	line-height: 36px;
}
.dd-content span {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}
.dd-content .ns-actions {
	display: inline-block !important;
	vertical-align: middle !important;
	float: right;
	font-size: 0px !important;
	font-size: 12px;
}
.dd-content .ns-actions a {
	background: #26C281;
	color: #fff;
	height: 27px;
	border-radius: 5px !important;
	line-height: 25px;
	font-size: 14px;
	padding: 0 5px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.dd-content .ns-actions a:hover {
	background: #333 !important;
	transition:0.5s !important;
}
.dd-content .ns-actions a.edit-menu {
	background: #67809F ;
}
.dd-content .ns-actions a.delete-menu {
	background: #e35b5a ;
}
.dd-content .ns-actions a.unpublish {
	background: #E35B5A ;
}
.dd-handle {
    padding: 0px !important;
    width: 32px;
    background: #32c5d2;
    height: 40px;
    line-height: 29px;
    border: none;
}
.dd-item > button {
    background: #525e64;
    color: #fff;
    height: 24px;
    margin: 8px 10px 0 36px;
    width: 25px;
    border-radius: 50% !important;
}

#add-menu a{
	color:#fff !important;
}

.nav-a{
	padding: 14px;
    display: inline-block;
    margin-bottom: 41px;
    color: #364150;
    border: 1px solid #E9EDEF;

}
.nav-a:hover,.menuactive{
	text-decoration: none;
	background: #26C281;
	color: #fff;
}
