
			.tripfacts {
			    background: #eee none repeat scroll 0 0;
			    display: block;
			    margin-bottom: 20px;
			}

			.tripfacts > h3 {
			    background: #27a6bd none repeat scroll 0 0;
			    border-bottom: 5px solid #106271;
			    font-size: 19px;
			    margin-bottom: 10px;
			    padding: 10px 20px;
			    color: #fff;
			}

			.tripfacts li {
			    border-bottom: 1px solid #ccc;
			    color: #000;
			    display: block;
			    font-size: 13px;
			    line-height: 33px;
			    padding-left: 20px;
			    vertical-align: middle;
			}

			.tripfacts iframe {
			    width: 100%;
			    height: 400px;
			}


.itanarylist {
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

.tab-content {
    display: block;
    overflow: hidden;
    padding: 30px 0;
}

.dayitnry {
    background: #87b5a6 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-family: "montserratbold";
    font-size: 52px;
    letter-spacing: -4px;
    padding: 15px 0 0 0;
    text-align: center;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.dayitnry span {
    display: block;
    font-family: "montserratregular";
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 10px;
    border-radius: 0 0 5px 5px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
}

.detailsitnry h4 {
    font-family: "montserratregular";
    font-size: 16px;
    margin: 10px 0 4px 0;
    letter-spacing: -0.4px;
}

.detailsitnry p {
    line-height: 22px;
    font-size: 15px;
}

.detailsitnry strong {
    display: block;
    font-family: "montserratregular";
    font-size: 13px;
    font-weight: normal;
    margin-top: 11px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: -0.7px;
    color: #cc4c4c;
}

.disabled a{;
        pointer-events: none;
    }
    .disabled{
         cursor: no-drop;
    }
    .hideField{
        display: none;
    }
    .max-val{
        padding-left:16px;
    }
    .remove-feature,.delete-feature,.remove-menu,.delete-menu{
        color: #fff;
        background: rgba(255, 0, 0, 0.64);
        padding: 8px;
        position: absolute;
        padding-left: 13px;
        padding-right: 13px;
        margin: 0px !important;
    }
    .btn-add,.btn-add:hover{
            color: #fff !important;
            text-decoration: none !important;
            background: rgb(54, 198, 211);
            padding: 10px;
    }
